@model string
@{
    string path = string.Empty;
}

<p>
    @foreach (var item in Model.Split("/"))
    {
        if (!string.IsNullOrEmpty(item))
        {
            path += "/" + item;
            <a href="/tree@(path)">@item</a>
            <b>/</b>
        }
    }
</p>